@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300 600; 
  src: url('/fonts/InterVariable.ttf') format('truetype');
} */

:root {
  /* PP Figma shades */
  --canary-black: 240 10% 3%;
  --canary-grey-6: 240 8% 6%;
  --canary-grey-8: 240 7% 8%;
  --canary-grey-10: 240 6% 10%;
  --canary-grey-12: 240 6% 12%;
  --canary-grey-15: 240 6% 15%;
  --canary-grey-20: 240 6% 20%;
  --canary-grey-30: 240 6% 30%;
  --canary-grey-40: 240 6% 40%;
  --canary-grey-50: 240 6% 50%;
  --canary-grey-60: 240 6% 60%;
  --canary-grey-70: 240 6% 70%;
  --canary-grey-80: 240 6% 80%;
  --canary-grey-90: 240 6% 90%;
  --canary-grey-94: 240 6% 94%;
  --canary-grey-98: 240 6% 98%;
  --canary-white: 0 0% 100%;

  /* PP Figma secondary colors */
  --canary-mint: 175 60% 65%;
  --canary-blue: 216 80% 65%;
  --canary-orange: 35, 75%, 55%;
  --canary-purple: 275 60% 75%;
  --canary-green: 150, 75%, 65%;
  --canary-red: 0, 80%, 65%;
}

@layer themes {
  /* TODO: replace hsl with variables for theming */
  :root {
    --canary-background: 0 0% 100%;
    --canary-foreground: 240 10% 3.9%;
    --canary-card: 0 0% 100%;
    --canary-card-foreground: 240 10% 3.9%;
    --canary-popover: 0 0% 100%;
    --canary-popover-foreground: 240 10% 3.9%;
    --canary-primary: 240 5.9% 10%;
    --canary-primary-background: 240 5.9% 10%;
    --canary-primary-foreground: 0 0% 98%;
    --canary-primary-muted: var(--canary-grey-70);
    --canary-primary-accent: 216 100% 60%;
    --canary-secondary: 240 4.8% 95.9%;
    --canary-secondary-foreground: 240 5.9% 10%;
    --canary-secondary-background: 0 0% 100%;
    --canary-secondary-muted: var(--canary-grey-40);
    --canary-tertiary: 240 4.8% 95.9%;
    --canary-tertiary-foreground: 240 5.9% 10%;
    --canary-tertiary-background: 240 6% 60%;
    --canary-muted: 240 4.8% 95.9%;
    --canary-muted-foreground: 240 3.8% 46.1%;
    --canary-accent: 240 4.8% 95.9%;
    --canary-accent-foreground: 240 5.9% 10%;
    --canary-destructive: 0 84.2% 60.2%;
    --canary-destructive-foreground: 0 0% 98%;
    --canary-border: 240 5.9% 90%;
    --canary-border-background: 240 5.9% 90%;
    --canary-input: 240 5.9% 90%;
    --canary-input-background: 240 5.9% 90%;
    --canary-ring: 240 5.9% 10%;
    --canary-radius: 0.5rem;
    --canary-success: var(--canary-green);
    --canary-error: var(--canary-red);
    --canary-warning: var(--canary-orange);
    --canary-ai: var(--canary-purple);
    --canary-ai-button-stop-1: 36 60% 95%;
    --canary-ai-button-stop-2: 335 58% 76%;
    --canary-ai-button-stop-3: 246 66% 72%;
    --canary-ai-button-stop-4: 188 97% 89%;
    --canary-diff-grey: hsl(0, 0%, 33%);
    --canary-diff-add-content--: hsl(156, 28%, 10%);
    --canary-diff-del-content--: hsl(356, 28%, 11%);
    --canary-diff-add-lineNumber--: hsl(153, 40%, 14%);
    --canary-diff-del-lineNumber--: hsl(358, 39%, 17%);
    --canary-diff-plain-content--: var(--canary-background);
    --canary-diff-expand-content--: var(--canary-background);
    --canary-diff-plain-lineNumber--: var(--canary-background);
    --canary-diff-plain-lineNumber-color--: hsl(0, 0%, 100%);
    --canary-diff-hunk-content--: hsl(218, 26%, 12%);
    --canary-diff-hunk-lineNumber--: hsl(218, 26%, 12%);
    --canary-diff-add-content-highlight--: hsl(152, 37%, 24%);
    --canary-diff-del-content-highlight--: hsl(0, 38%, 26%);
    --canary-diff-add-widget--: hsl(216, 80%, 65%);
    --canary-diff-add-widget-color--: hsl(0, 0%, 100%);
    --canary-diff-empty-content--: var(--canary-background);
    --canary-diff-hunk-content-color--: hsl(0, 0%, 100%);
  }

  .dark {
    --canary-background: var(--canary-grey-6);
    --canary-foreground: var(--canary-grey-94);
    --canary-card: var(--canary-grey-10);
    --canary-card-foreground: var(--canary-white);
    --canary-popover: var(--canary-grey-10);
    --canary-popover-foreground: var(--canary-white);
    --canary-primary: var(--canary-white);
    --canary-primary-background: var(--canary-black);
    --canary-primary-foreground: var(--canary-grey-10);
    --canary-primary-muted: var(--canary-grey-70);
    --canary-primary-accent: 216 100% 60%;
    --canary-secondary: var(--canary-grey-15);
    --canary-secondary-foreground: var(--canary-white);
    --canary-secondary-background: var(--canary-grey-6);
    --canary-secondary-muted: var(--canary-grey-40);
    --canary-tertiary: var(--canary-grey-12);
    --canary-tertiary-foreground: var(--canary-white);
    --canary-tertiary-background: var(--canary-grey-60);
    --canary-muted: var(--canary-grey-15);
    --canary-muted-foreground: var(--canary-grey-60);
    --canary-accent: var(--canary-grey-15);
    --canary-accent-foreground: var(--canary-white);
    --canary-destructive: var(--canary-red);
    --canary-destructive-foreground: var(--canary-white);
    --canary-border: var(--canary-grey-15);
    --canary-border-background: var(--canary-grey-10);
    --canary-input: var(--canary-grey-15);
    --canary-input-background: var(--canary-grey-10);
    --canary-ring: var(--canary-grey-80);
    --canary-success: var(--canary-green);
    --canary-error: var(--canary-red);
    --canary-warning: var(--canary-orange);
    --canary-ai: var(--canary-purple);
    --canary-ai-button-stop-1: 36 60% 95%;
    --canary-ai-button-stop-2: 335 58% 76%;
    --canary-ai-button-stop-3: 246 66% 72%;
    --canary-ai-button-stop-4: 188 97% 89%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply antialiased text-base;
  }

  body {
    @apply bg-background text-foreground text-sm font-normal;
  }
}

/* Text utilities */
.text-radial-gradient {
  /* remove hardcode colors */
  @apply bg-gradient-radial from-[#CA9AF4]/70 to-[#CA9AF4]/0 bg-clip-text text-primary/70;
}

/* Card utilities */
.card-auth {
  @apply border-none w-[362px];
}
.card-auth-header {
  @apply p-0 space-x-0 space-y-0;
}
.card-auth-content {
  @apply py-6 w-full;
}

/* Form utilities */
.text-form-error {
  @apply font-light text-destructive text-xs mt-2;
}
.form-input {
  @apply font-light text-sm w-full mt-1 border-primary/10 bg-primary/5 rounded-[4px];
  @apply placeholder:text-primary/50 !important;
}

/* Temporary studio controls override */
.react-flow__panel {
  @apply m-6 flex gap-[1px] left-auto right-0 !important;
}
.react-flow__controls-button {
  @apply invert rounded-md !important;
}

.diff-widget-tooltip:hover::before {
  display: block;
}

.diff-widget-tooltip:hover::after {
  display: block;
}

.diff-tailwindcss-wrapper .invisible {
  visibility: hidden;
}
.diff-tailwindcss-wrapper .group:hover .group-hover\:visible {
  visibility: visible;
}
.diff-tailwindcss-wrapper .sticky {
  position: sticky;
}
.diff-tailwindcss-wrapper .left-0 {
  left: 0;
}
.diff-tailwindcss-wrapper .left-\[100\%\] {
  left: 100%;
}
.diff-tailwindcss-wrapper .right-\[100\%\] {
  right: 100%;
}
.diff-tailwindcss-wrapper .top-0 {
  top: 0;
}
.diff-tailwindcss-wrapper .top-\[1px\] {
  top: 1px;
}
.diff-tailwindcss-wrapper .top-\[50\%\] {
  top: 50%;
}
.diff-tailwindcss-wrapper .z-\[1\] {
  z-index: 1;
}
.diff-tailwindcss-wrapper .ml-\[-1\.5em\] {
  margin-left: -1.5em;
}
.diff-tailwindcss-wrapper .block {
  display: block;
}
.diff-tailwindcss-wrapper .inline-block {
  display: inline-block;
}
.diff-tailwindcss-wrapper .flex {
  display: flex;
}
.diff-tailwindcss-wrapper .table {
  display: table;
}
.diff-tailwindcss-wrapper .hidden {
  display: none;
}
.diff-tailwindcss-wrapper .h-\[50\%\] {
  height: 50%;
}
.diff-tailwindcss-wrapper .h-full {
  height: 100%;
}
.diff-tailwindcss-wrapper .min-h-\[28px\] {
  min-height: 28px;
}
.diff-tailwindcss-wrapper .w-\[1\%\] {
  width: 1%;
}
.diff-tailwindcss-wrapper .w-\[1\.5em\] {
  width: 1.5em;
}
.diff-tailwindcss-wrapper .w-\[1\.5px\] {
  width: 1.5px;
}
.diff-tailwindcss-wrapper .w-\[10px\] {
  width: 10px;
}
.diff-tailwindcss-wrapper .w-\[1px\] {
  width: 1px;
}
.diff-tailwindcss-wrapper .w-\[50\%\] {
  width: 50%;
}
.diff-tailwindcss-wrapper .w-full {
  width: 100%;
}
.diff-tailwindcss-wrapper .w-max {
  width: -moz-max-content;
  width: max-content;
}
.diff-tailwindcss-wrapper .min-w-\[100px\] {
  min-width: 100px;
}
.diff-tailwindcss-wrapper .min-w-\[40px\] {
  min-width: 40px;
}
.diff-tailwindcss-wrapper .min-w-full {
  min-width: 100%;
}
.diff-tailwindcss-wrapper .flex-shrink-0,
.diff-tailwindcss-wrapper .shrink-0 {
  flex-shrink: 0;
}
.diff-tailwindcss-wrapper .basis-\[50\%\] {
  flex-basis: 50%;
}
.diff-tailwindcss-wrapper .table-fixed {
  table-layout: fixed;
}
.diff-tailwindcss-wrapper .border-collapse {
  border-collapse: collapse;
}
.diff-tailwindcss-wrapper .origin-center {
  transform-origin: center;
}
.diff-tailwindcss-wrapper .translate-x-\[-50\%\] {
  --tw-translate-x: -50%;
}
.diff-tailwindcss-wrapper .translate-x-\[-50\%\],
.diff-tailwindcss-wrapper .translate-x-\[50\%\] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
    skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.diff-tailwindcss-wrapper .translate-x-\[50\%\] {
  --tw-translate-x: 50%;
}
.diff-tailwindcss-wrapper .translate-y-\[-50\%\] {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
    skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.diff-tailwindcss-wrapper .cursor-pointer {
  cursor: pointer;
}
.diff-tailwindcss-wrapper .select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.diff-tailwindcss-wrapper .flex-col {
  flex-direction: column;
}
.diff-tailwindcss-wrapper .items-start {
  align-items: flex-start;
}
.diff-tailwindcss-wrapper .items-center {
  align-items: center;
}
.diff-tailwindcss-wrapper .justify-center {
  justify-content: center;
}
.diff-tailwindcss-wrapper .overflow-x-auto {
  overflow-x: auto;
}
.diff-tailwindcss-wrapper .overflow-y-hidden {
  overflow-y: hidden;
}
.diff-tailwindcss-wrapper .whitespace-nowrap {
  white-space: nowrap;
}
.diff-tailwindcss-wrapper .break-all {
  word-break: break-all;
}
.diff-tailwindcss-wrapper .bg-\[rgb\(222\2c 222\2c 222\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(222 222 222 / var(--tw-bg-opacity));
}
.diff-tailwindcss-wrapper .fill-current {
  fill: currentColor;
}
.diff-tailwindcss-wrapper .p-0 {
  padding: 0;
}
.diff-tailwindcss-wrapper .p-\[1px\] {
  padding: 1px;
}
.diff-tailwindcss-wrapper .px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}
.diff-tailwindcss-wrapper .py-\[2px\] {
  padding-bottom: 2px;
  padding-top: 2px;
}
.diff-tailwindcss-wrapper .py-\[6px\] {
  padding-bottom: 6px;
  padding-top: 6px;
}
.diff-tailwindcss-wrapper .pl-\[1\.5em\] {
  padding-left: 1.5em;
}
.diff-tailwindcss-wrapper .pl-\[10px\] {
  padding-left: 10px;
}
.diff-tailwindcss-wrapper .pl-\[2\.0em\] {
  padding-left: 2em;
}
.diff-tailwindcss-wrapper .pr-\[10px\] {
  padding-right: 10px;
}
.diff-tailwindcss-wrapper .text-right {
  text-align: right;
}
.diff-tailwindcss-wrapper .indent-\[0\.2em\] {
  text-indent: 0.2em;
}
.diff-tailwindcss-wrapper .align-top {
  vertical-align: top;
}
.diff-tailwindcss-wrapper .align-middle {
  vertical-align: middle;
}
.diff-tailwindcss-wrapper .text-\[1\.2em\] {
  font-size: 1.2em;
}
.diff-tailwindcss-wrapper .leading-\[1\.4\] {
  line-height: 1.4;
}
.diff-tailwindcss-wrapper .leading-\[1\.6\] {
  line-height: 1.6;
}
.diff-tailwindcss-wrapper .text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.diff-tailwindcss-wrapper .opacity-\[0\.5\] {
  opacity: 0.5;
}
.diff-tailwindcss-wrapper .filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate)
    var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.diff-tailwindcss-wrapper .transition-transform {
  transition-duration: 0.15s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.diff-tailwindcss-wrapper .scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.diff-tailwindcss-wrapper .scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.diff-tailwindcss-wrapper .scrollbar-disable::-webkit-scrollbar {
  display: none;
}
.diff-tailwindcss-wrapper .scrollbar-disable {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
